Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
python-dotenv==1.0.1
Bootstrap-Flask==2.4.1

python-docx
docxtpl

PyMuPDF
pdfplumber

spacy
sentence-transformers
rapidfuzz

scikit-learn

numpy
pandas

Pillow
gunicorn